#Arquivos e pastas do Python
pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.jpg
*.png
*.jpeg

#Arquivos de banco de dados
*.db
*.sqlite
*.sqlite3
data/
data/imagem_to_athenticate/
data/imagem_to_register/
#Arquivos de sistema
.DS_Store
Thumbs.db
__pycache__/